.toggle-label {
    position: relative;
    display: flex;
    margin: 30px;
    width: 120px;
    height: 40px;
    background-color: #ebebeb;
    border-radius: 20px;
    border: 1px solid lightgray;
}
  
.toggle-label::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 80%;
    background-color: white;
    top: -5px;
    left: -1px;
    transition: all 0.3s;
    border: 1px solid lightgray;
}
  
.toggle-inner {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-inner::before {
    content: "Yes";
    color: white;
    margin-left: 13px;
}

.toggle-inner::after {
    content: "No";
    color: #c3c3c3; 
    margin-left: 15px;
}

.toggle-inner::after::before {
    color: #c3c3c3;
}
  
.toggle-cb:checked + .toggle-label::after {
    left: 80px;
}

.toggle-cb:checked + .toggle-label .toggle-inner::after {
    display: none; /* Hide the "No" text */
}

  
.toggle-cb:checked + .toggle-label {
    background-color: #d73953;
}
